[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    pharmpy
    tests
parallel = true

[report]
show_missing = true
precision = 2
exclude_lines = 
    pragma: no cover
    @overload
    @abstractmethod
