#Direct dependencies except those that are already dependencies of Pharmpy itself
sphinx-tabs==3.4.7
pydata-sphinx-theme==0.16.1
sphinxcontrib-autoprogram==0.1.9
sphinx-automodapi==0.19.0
markdown==3.8
#indirect
accessible-pygments==0.0.5
