#Direct dependencies except those that are already dependencies of Pharmpy itself
sphinx-tabs==3.4.7
pydata-sphinx-theme==0.16.1
sphinxcontrib-autoprogram==0.1.9
sphinxcontrib.bibtex==2.6.4
sphinx-automodapi==0.20.0
markdown==3.8.2
#indirect
accessible-pygments==0.0.5
