graft docs
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include README.rst

include requirements.txt
include tox.ini

exclude demo.py
exclude local
recursive-exclude local *

global-exclude *.py[cod] __pycache__
global-exclude *.swp
global-exclude .ropeproject/*
