graft docs
graft src
graft tests

prune docs/.doctrees
prune docs/api

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include AUTHORS.rst
include CODE_OF_CONDUCT.rst
include CHANGELOG.rst
include LICENSE
include LICENSE.LESSER
include README.rst
include TODO.rst

include requirements.txt
include tox.ini

exclude clean_cache.sh
exclude codecov.yml
exclude scripts/*
exclude bumpversion.sh

global-exclude *.py[cod] __pycache__
global-exclude *.swp

# added by check-manifest
recursive-include src *.py
