# Direct dependencies
pip==24.0
tox==4.15.0
# Indirect dependencies
cachetools==5.3.3
chardet==5.2.0
colorama==0.4.6
distlib==0.3.8
filelock==3.14.0
packaging==24.0
platformdirs==4.2.1
pluggy==1.5.0
pyproject-api==1.6.1
tomli==2.0.1
virtualenv==20.26.1
