# Direct dependencies
pip==26.2.1
tox==4.60.0
# Indirect dependencies
cachetools==7.1.7
chardet==7.6.0
colorama==0.4.6
distlib==0.4.3
filelock==3.32.4
packaging==26.3
platformdirs==4.11.5
pluggy==1.6.0
pyproject-api==1.11.0
tomli==2.4.1
virtualenv==21.7.7
