addict==2.2.1
alabaster==0.7.12
altair==4.1.0
attrs==20.1.0
Babel==2.8.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
csscompressor==0.9.5
dask==2.25.0
decorator==4.4.2
dill==0.3.2
docker==4.3.1
docker-pycreds==0.4.0
docutils==0.16
entrypoints==0.3
future==0.18.2
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
Jinja2==2.11.2
jsonschema==3.2.0
lark-parser==0.9.0
lxml==4.5.2
MarkupSafe==1.1.1
mpmath==1.1.0
networkx==2.5
numexpr==2.7.1
numpy==1.19.1
packaging==20.4
pandas==1.1.1
pathlib2==2.3.5
psutil==5.7.2
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.2
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
symengine==0.6.1
sympy==1.6.2
toil==4.2.0
toolz==0.10.0
urllib3==1.25.10
websocket-client==0.57.0
zipp==3.1.0
appdirs==1.4.4
