name: Publish Docs

on:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-24.04

    steps:

      - name: Checkout pharmpy/pharmpy
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip

      - uses: ./.github/actions/setup-tox
        with:
          python-version: "3.11"

      - name: Publish documentation
        uses: ./.github/actions/publish-documentation
